*{
    padding:0;
    margin:0;
}
body::-webkit-scrollbar {
    display: none;
}
.main-header{
    height: 100vh;
    width: 100vw;
    /*border: 2px solid red;*/
    background-color: black;
}

.main-header-box{
    height: 100%;
    display: inline-block;
    /*border: 2px solid blue;*/
    vertical-align: top;
}

.main-header-left{
    width: 35%;
}
.main-header-left img{
    height: 100%;
    width: 100%;
}
.main-header-center{
    width: 29.5%;

}
.main-header-center-first-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
}
.main-header-logo-container{
    /*border: 2px solid white;*/
    height: 20vh;
    width: 25vw;
    position: absolute;
    top: 40%;
    margin-top: -5vh;
    left:50%;
    margin-left: -12.5vw;
    text-align: center;
}

.main-header-logo{
    color: white;
    display: inline-block;
}
.main-header-d{
    font-size: 15vh;
    font-weight: bold;
}
.main-header-a{
    font-size: 10vh;
    font-weight: bold;
}
.main-header-w{
    font-size: 15vh;
    font-weight: bold;
}

.main-header-mini-logo{
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    height: 8vh;
    width: 26vw;
    position: absolute;
    top: 60%;
    margin-top: -5vh;
    left:50%;
    margin-left: -13vw;
    text-align: center;
}
.main-header-mini-logo-p{
    text-align: center;
    font-size: 4vh;
    font-weight: lighter;
    color: white;
}

.main-header-right{
    width: 35%;
}
.main-header-right img{
    height: 100%;
    width: 100%;
}
.nav-bar{
    height: 5vh;
}
.main-nav{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.main-nav li{
    margin-left: 5vw;
    text-decoration: none;
    list-style:none;
    text-align: center;
    /*border: 2px solid black;*/
    transition: 0.5s;
}


.main-nav li a{
    text-decoration: none;
    color: black;
    font-weight: lighter;
    font-size: 3vh;
    letter-spacing: .2vw;
    transition: 0.6s;
    padding: 0 5px 0 5px;
}

.main-nav li a:hover{
    background-color: black;
    color: white;
}
.design-section{
    height: 100vh;
    width: 100vw;
    /*border: 2px solid blue;*/
}
.design-section-container{
    height: 100%;
    width: 100%;
    /*border: 2px solid red;*/
}
.design-section-left{
    display: inline-block;
    height: 100%;
    width: 40%;
    /*border: 2px solid black;*/
    position: relative;
}
.design-section-right{
    display: inline-block;
    height: 100%;
    width: 59.5%;
    /*border: 2px solid black;*/
    vertical-align: top;
    position: relative;
}
.design-left-heading{
    position: absolute;
    /*border: 2px solid black;*/
    height: 10vh;
    width: 15vw;
    top:30%;
    left: 4%;
    font-weight: bold;
    font-size: 10vh;
    letter-spacing: 4px;
    color: black;
}
.design-left-heading-2{
    position: absolute;
    /*border: 2px solid black;*/
    height: 10vh;
    top:42%;
    left: 8%;
    font-weight: bold;
    font-size: 5vh;
    letter-spacing: 2px;
    color: black;
    animation-delay: 1s;
}
.design-left-text{
    position: absolute;
    /*border: 2px solid black;*/
    height: 40vh;
    width: 30vw;
    top:50%;
    left: 4%;
    font-weight: lighter;
    font-size: 2vh;
    color: black;
    animation-delay: 1.4s;
}
.design-section-design-button{
    position: absolute;
    /*border: 2px solid black;*/
    height: 8vh;
    width: 10vw;
    top:80%;
    left: 8%;
    font-weight: lighter;
    font-size: 3vh;
    letter-spacing: 2px;
    color: black;
    animation-delay: 1.7s;
    outline: none;
    background-color: transparent;
    border: 1px solid black !important;
    transition: 0.5s;
}

.design-section-design-button:hover{

    background-color: black;
    color: white;
}
.svg-container{
    width: 40%;
    height: 30%;
    /*border: 2px solid black;*/
    position: absolute;
    top: 32%;
    animation-delay: 1.7s;
}
.svg-container svg{
    height: 100%;
    width: 100%;
    z-index: 4;
}
.design-right-img-1{
    position: absolute;
    height: 30vh;
    width: 24vw;
    /*border:1vh solid black;*/
    top: 1%;
    left: 3%;
    z-index: -1;
    animation-delay: 2.5s;
}
.design-right-img-2{
    position: absolute;
    height: 40vh;
    width: 30vw;
    /*border:1vh solid black;*/
    top: 9%;
    left: 44%;
    z-index: -1;
    animation-delay: 2.5s;
}
.design-right-img-3{
    position: absolute;
    height: 33vh;
    width: 28vw;
    /*border:1vh solid black;*/
    top: 66%;
    left: 0;
    z-index: -1;
    animation-delay: 2.5s;
}
.design-right-img-4{
    position: absolute;
    height: 40vh;
    width: 30vw;
    /*border:1vh solid black;*/
    top: 50%;
    left: 50%;
    z-index: -1;
    animation-delay: 2.5s;
}

.image-section{
    height: 100vh;
    width: 100vw;
    /*border: 2px solid blue;*/

}
.image-section-container{
    /*border: 2px solid red;*/
    height: 80vh;
    width: 90vw;
    margin: auto;
    margin-top: 10vh;
    vertical-align: center;
    position: relative;
}
.image-section-container img{
    animation-delay: 2s;
    animation-duration: 4s;
}
.image-section-container-after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.3;
    animation-delay: 2s;
    animation-duration: 4s;
}
.image-section-image-text{
    vertical-align: center;
    border: 10px solid white;
    background-color: #00000099;
    text-align: center;
    font-size: 9vh;
    font-weight: lighter;
    letter-spacing: 10px;
    color: white;
    position: absolute;
    top: 40%;
    left:11%;
    margin: auto;
}